<div class="card card-body bg-light">
<%= form_for recipe, html: { multipart: true } do |f| %>
  <%= error_messages_for(f.object) %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label "Nombre", :class => "font-weight-bold" %>
        <%= f.text_field :name, :class => 'form-control', :placeholder => 'Milanesas de Ternera' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label "Categoría", :class => "font-weight-bold" %> <%#= link_to raw("Crear Nueva"), '#', data: {toggle: "modal", target: "#modalCategory"}, :class => 'btn btn-sm btn-outline-success' %>
        <%= f.select :category_id, Category.sorted.collect { |x| [x.name, x.id] }, {:include_blank => 'Elegir Una'}, :class => 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label "Ingredientes y Cantidades", :class => "font-weight-bold" %>
        <%= f.text_area :ingredients, :value => get_ingredients(recipe), :class => 'form-control', :placeholder => "1 huevo, 100gr de pan rallado", :size => '10x6' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label "Palabras Clave", :class => "font-weight-bold" %>
        <%= f.text_area :key_words, :class => 'form-control', :placeholder => "Ternera, Nalga", :size => '10x6' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Instrucciones", :class => "font-weight-bold" %>
    <%= f.text_area :instructions, :class => 'form-control', :size => '10x8'%>
  </div>

  <div class="form-group">
    <%= f.label "Foto" %>
    <%= f.file_field :image %>
  </div>
  <% if recipe.image.exists? %>
     <%= image_tag recipe.image.url, :width => '100%' %>
  <% end %>

  <%= f.submit "Aceptar", :class => 'btn btn-success' %>
  <%= link_to "Cancelar", recipes_path, :class => 'btn btn-outline-primary' %>

<% end %>
</div>





<!-- <div class="modal fade" id="modalCategory" tabindex="-1" role="dialog" aria-labelledby="modalCategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCategory">Creá una Nueva Categoría</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%# form_for @category do |f| %>
          <%# error_messages_for(f.object) %>
          <div class="form-group">
            <%# f.label 'Nombre' %>
            <%# f.text_field :name, :class => 'form-control' %>
          </div>
          <br/>

          <%# f.submit "Aceptar", :class => 'btn btn-primary' %>

        <%# end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Cancelar</button>
      </div>
    </div>
  </div>
</div> -->
