<% @page_title = 'Recetas' %>

<%= image_link_to 'body.jpg', '#', :width => '100%'%>
<div class="row my-3">
    <div class="col-md-12 fixed d-md-none">
      <%= render(:partial => 'partials/select_category') %>
    </div>

        <div class="col-md-9 col-12 ">
                <% @results.each do |category, recipes| %>
                <% next if recipes.empty? %>
                <h4 class="category-header mt-4"><span><%= category %></span></h4>
                <div class="card-deck">
                    <% recipes.each do |recipe| %>

                        <div class="card my-2 recipe-card">

                            <!-- <img src="http://placehold.it/560x560" class="card-img-top"> -->
                            <%= image_link_to 'cuchara.png', recipe_path(recipe), :width => '100%'%>
                            <div class="card-body">
                              <%= link_to recipe_path(recipe), :style => "text-decoration: none;" do %>
                                <h5 class="card-title"><%= recipe.name %></h5>
                              <% end %><!-- end link_to -->
                            </div>
                            <div class="card-footer">
                                <small class="recipe-info"><span class="span-footer"><%= recipe.category.name %></span><span class="font-weight-bold"> | </span><span class="span-footer font-weight-bold"><%= recipe.user.username %></span></small>
                            </div>

                        </div>

                    <% end %> <!-- recipe.each end -->

            </div> <!-- end card deck -->
            <% end %> <!-- termina results.each -->

        </div>
        <div class="col-md-3 fixed d-none d-md-block">
          <%= render(:partial => 'partials/sidebar') %>
        </div>


</div>
