<% @page_title = 'Recetas' %>


<div class="row my-3">
    <div class="col-md-12 fixed d-md-none">
      <%= render(:partial => 'partials/select_category') %>
    </div>
    <div class="col-md-9 col-sm-12">
      <!-- <div class="card card-body bg-light"> -->
        <h2>Recetas</h2>
            <% @results.each do |category, recipes| %>
                <% next if recipes.empty? %>
                <h4 class="category-header"><span><%= category %></span></h4>
                <% recipes.each_slice(3) do |recipe_pair| %>

                  <div class="row">
                    <% recipe_pair.each do |recipe| %>
                      <div class="col-md-4">
                        <figure>
                          <%= link_to recipe_path(recipe), :style => "text-decoration: none;" do %>
                                <% if recipe.image.exists? %>
                                    <%= image_tag  recipe.image.url(:medium), :width => '100%'%>
                                <% else %>
                                    <%# image_link_to 'default.jpeg', recipe_path(recipe), :width => '100%'%>
                                <% end %>

                              <figcaption style="background:white; padding: 1em; text-align: center;">
                                <h5><%= recipe.name %></h5>
                                <small><%= recipe.category.name %> | <%= recipe.user.username %></small>
                              </figcaption>
                          <% end %>
                        </figure>

                      </div>
                    <% end %>
                  </div>
                <% end %>
            <% end %>


      <!-- </div> -->
    </div>
    <div class="col-md-3 fixed d-none d-md-block">
      <%= render(:partial => 'partials/sidebar') %>
    </div>
</div>
