
<%= link_to "<< Volver Atrás", recipes_path, :class => 'btn btn-primary my-2'  %>
    <div class="card card-body bg-light">
    <%= render :partial => 'receta', :locals => {:recipe => @recipe} %>



    <div class="row">
        <div class="col-md-6 user-info"><%= render :partial => 'partials/user_date', :locals => {:user => @recipe.user, :date => @recipe.created_at} %></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <%= link_to "Nueva Version", new_version_recipe_path(@recipe), :class => 'btn btn-blue' %>
            <%# link_to raw("Compartir <i class='fa fa-link'></i>"), '#', data: {toggle: "modal", target: "#exampleModal"}, :class => 'btn btn-outline-success' %>
            <button class="btn btn-outline-success clipboard-btn" data-clipboard-action="copy" data-clipboard-text="<%= request.base_url %>/<%= @recipe.token %>">
              Compartir <%= fa_icon "link" %>
            </button>
            <%# social_share_button_tag(@recipe.name, :url => request.base_url +  "/"+ @recipe.token) %>
            <%# link_to raw("Compartir <i class='fa fa-link'></i>"), '#', data: {clipboard_text: request.base_url + '/' + @recipe.token }, :class => 'btn btn-outline-success clipboard-btn' %>
        </div>
        <div class="col-md-6 col-sm-12 mt-2 mt-md-0">
            <% if allowed?(@recipe.user) %>
                <%= render :partial => 'partials/edit_delete', :locals => {:edit => edit_recipe_path(@recipe), :delete => recipe_path(@recipe)} %>
            <% end %>
        </div>
    </div>


<%= render :partial => 'link_modal', :locals => {:link => @recipe.token} %>
</div>
<%= render 'partials/comments' %>
