<div class="comments my-3">
    <h3 class="page-header"> Comentarios </h3>
    <% @recipe.comments.each do |comment| %>
    <!-- <div class="comment"> -->
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light card-body my-1 comment" id="comment_<%= comment.id %>">

                    <h4 class="card-title page-header"><%= render :partial => 'partials/user_date', :locals => {:user => comment.user, :date => comment.created_at} %></h4>
                     <div class="card-body">
                         <%= comment.body %>
                     </div>
                     <% if allowed?(comment.user) %>
                             <div class="row justify-content-md-end">
                                 <div class="col-md-2">
                                     <%= link_to recipe_comment_path(comment), :method => :delete, :class => 'btn btn-outline-danger' do %>
                                         <%= fa_icon "trash-o" %>
                                     <% end %>
                                 </div>

                            </div>
                     <% end %>
                </div>
            </div>
        </div>
    <!-- </div> -->
    <% end %>

        <div class="add-comment card card-body my-2">
            <h3 class="page-header card-title">Nuevo Comentario</h3>
            <div class="card-body">
                <%= form_for [@recipe, @recipe.comments.build] do |f| %>

                    <div class="form-group">
                        <%= f.label "Escribe aquí tu comentario" %>
                        <%= f.text_area :body, :class => 'form-control' %>
                    </div>

                    <div class="form-group">
                        <%= f.submit "Comentar", :class => 'btn btn-primary' %>
                    </div>

                <% end %>
            </div>

        </div>

</div>
