<nav class="navbar  navbar-dark navbar-toggleable-md navbar-expand-md">
  <%= image_link_to "logo.png", recipes_path, { alt: 'Ver todas las recetas' }, { class: 'navbar-brand btn btn-outline-secondary' } %>
  <%= link_to "Nueva Receta", new_recipe_path, :class => 'navbar-brand btn btn-primary' %>


  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav">
      <%= render :partial => 'partials/search_form' %>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Buscar</button>
      </form> -->
    </ul>
    <ul class="navbar-nav ml-auto my-2 mx-5">
      <li class="nav-item dropdown" data-behavior="notifications">
        <a href="" data-behavior="notifications-link" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button"  id="dropdown02">
          <span><%= fa_icon "bell" %></span>
          <span class="badge badge-pill badge-secondary" data-behavior="unread-count"></span>
        </a>
        <div id="notifications" class="dropdown-menu" aria-labelledby="dropdown02" data-behavior="notification-items">
            <% if current_user.notifications.unread.empty? %>
              <!-- <p class="small text-muted mx-2">No hay notificaciones.</p> -->
            <% end %>
        </div>
      </li>




      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_username %></a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
           <!-- <p class="dropdown-item">Hola <mark><strong><%= current_username %></strong></mark>!</p>        -->
          <%= link_to 'Categorías', categories_path, :class => 'dropdown-item' %>
          <% if current_user.admin? %>
                    <%= link_to 'Usuarios', users_path, :class => 'dropdown-item' %>
          <% end %>
          <%= link_to 'Mis Recetas', recipes_path(:user => current_user.id), :class => 'dropdown-item' %>
          <%= link_to 'Mi Perfil', user_path(current_user), :class => 'dropdown-item' %>
          <%= link_to 'Salir', logout_path, :class => 'dropdown-item' %>
        </div>
      </li>
    </ul>

  </div>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
