<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login | r Blog</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render :partial => 'partials/favicons' %>
  </head>


  <body>
    <header id="showcase">
            <div class="dark-overlay">
              <h1>Welcome to the Beach</h1>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum veniam est temporibus sed, repudiandae earum.</p>
              <%= render(:partial => 'partials/flash') %>

              <%= yield %>
              <a href="#content" class="button">Read More</a>
            </div>

        </header>



  </body>
</html>
