<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login | r Blog</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render :partial => 'partials/favicons' %>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  </head>


  <body>
    <header id="showcase">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-7">
            <h1>Compartí tus recetas!</h1>
            <p>Estás cansado de andar pidiendo las recetas familiares cada dos por tres? Crea un grupo para tu familia o amigos! Tendrán todas sus recetas en un mismo lugar y solo los miembros del grupo tendrán acceso a ellas.</p>
            <%= render(:partial => 'partials/flash') %>
          </div>
          <div class="col-12 col-lg-4">
            <div class="forms">
              <%= yield %>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-3">
          <a href="#content" id="leer">
            <span><h3 id="boton">Leer Más</h3></span>
            <i id="flecha" class="fa fa-angle-double-down fa-3x"></i>
          </a>

        </div>
      </div>

    </header>

    <div class="container" id="content">
        <div class="row">
          <h2>Recetario Familiar</h2>
          <section id="section-a">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis sit labore illo voluptates vero, repellat quibusdam eius ut, quos possimus perspiciatis facilis nisi ipsam maxime magni atque autem, culpa magnam aperiam in iusto eum facere alias?
                Eius laborum eum nisi quasi deserunt aliquid error, quos corporis odit eaque ex, accusantium harum quaerat magnam esse repellat, quae maxime iure rem. Numquam delectus vero illo vitae quam, eos asperiores laudantium quidem ullam exercitationem
                quo enim tempore sit quaerat dicta fugiat odio aspernatur excepturi. Saepe, quas earum. Mollitia unde sed impedit voluptatibus? Dolor illum, explicabo reiciendis fuga reprehenderit hic doloribus delectus sunt dicta.</p>
        </section>
        </div>
        <div class="row">
          <h2>Recetario Familiar</h2>
          <section id="section-a">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis sit labore illo voluptates vero, repellat quibusdam eius ut, quos possimus perspiciatis facilis nisi ipsam maxime magni atque autem, culpa magnam aperiam in iusto eum facere alias?
                Eius laborum eum nisi quasi deserunt aliquid error, quos corporis odit eaque ex, accusantium harum quaerat magnam esse repellat, quae maxime iure rem. Numquam delectus vero illo vitae quam, eos asperiores laudantium quidem ullam exercitationem
                quo enim tempore sit quaerat dicta fugiat odio aspernatur excepturi. Saepe, quas earum. Mollitia unde sed impedit voluptatibus? Dolor illum, explicabo reiciendis fuga reprehenderit hic doloribus delectus sunt dicta.</p>
        </section>
        </div>

    </div>


    <script>
        window.sr = ScrollReveal();
       sr.reveal('#boton', {
         duration: 1500,
         delay: 800,
         origin: 'bottom'
       });
       sr.reveal('#flecha', {
         duration: 800,
         delay: 500,
         origin: 'top'
       });
    </script>
    <script>
        $(function() {
            $('a[href*="#"]:not([href="#"])').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html, body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>
  </body>
</html>
