<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render :partial => 'partials/favicons' %>
  </head>

  <body>
    <%= render :partial => 'partials/navbar' %>

    <div class="container py-2">
        <%= render(:partial => 'partials/flash') %>
        <%= yield %>
    </div>

  <script>
  // var clipboard = new Clipboard('.clipboard-btn');
  // console.log(clipboard);
  // Tooltip
  $("#inputGroupSelect01").change(function() {
  window.location = $(this).find("option:selected").val();
});

$('.clipboard-btn').tooltip({
  trigger: 'click',
  placement: 'right'
});

function setTooltip(btn, message) {
  $(btn).tooltip('hide')
    .attr('data-original-title', message)
    .tooltip('show');
}

function hideTooltip(btn) {
  setTimeout(function() {
    $(btn).tooltip('hide');
  }, 1000);
}

// Clipboard

var clipboard = new Clipboard('.clipboard-btn');

clipboard.on('success', function(e) {
  setTooltip(e.trigger, 'Link copiado!');
  hideTooltip(e.trigger);
});

clipboard.on('error', function(e) {
  setTooltip(e.trigger, 'No Funciono! :()');
  hideTooltip(e.trigger);
});
  </script>
  </body>
</html>
